<app-navbar></app-navbar>
<div class="container mt-4">
  <div class="card shadow-sm p-4">
    <h2 class="mb-4">Mes informations</h2>

    <form *ngIf="isEditing; else displayMode" (ngSubmit)="saveChanges()">
      <div class="mb-3">
        <label class="form-label">Prénom</label>
        <input type="text" class="form-control" [(ngModel)]="editableUserInfo.firstname" name="firstname" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Nom</label>
        <input type="text" class="form-control" [(ngModel)]="editableUserInfo.lastname" name="lastname" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Téléphone</label>
        <input type="text" class="form-control" [(ngModel)]="editableUserInfo.phone" name="phone">
      </div>
      <div class="mb-3">
        <label class="form-label">Date de naissance</label>
        <input type="date" class="form-control" [(ngModel)]="editableUserInfo.birthdate" name="birthdate">
      </div>
      <button type="submit" class="btn btn-accent text-light">Enregistrer</button>
      <button type="button" class="btn btn-danger ms-2" (click)="cancelEdit()">Annuler</button>
    </form>

    <ng-template  #displayMode>
      <p *ngIf="user"><strong>Prénom :</strong> {{ user.userInfo.firstname }}</p>
      <p *ngIf="user"><strong>Nom :</strong> {{ user.userInfo.lastname }}</p>
      <p *ngIf="user"><strong>Email :</strong> {{ user.email }}</p>
      <p *ngIf="user"><strong>Téléphone :</strong> {{ user.userInfo.phone }}</p>
      <p *ngIf="user"><strong>Date de naissance :</strong> {{ user.userInfo.birthdate | date }}</p>
      <button class="btn btn-accent mt-3 text-light" (click)="editMode()">Modifier</button>
    </ng-template>
  </div>
</div>
