<app-navbar></app-navbar>
<div class="container mt-4">
  <h2>Gestion des Élèves</h2>

  <div class="my-4">
    <label>Sélectionnez une session :</label>
    <select class="form-select" [(ngModel)]="selectedSessionId" (change)="loadStudents()" >
      <option *ngFor="let session of sessions" [value]="session.id">{{ session.name }}</option>
    </select>
  </div>

  <button class="btn btn-accent text-light mb-3" (click)="openCreateModal()">Ajouter des Élèves à la session</button>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.userInfo?.lastname || 'Non spécifié' }}</td>
      <td>{{ student.userInfo?.firstname || 'Non spécifié' }}</td>
      <td>{{ student.email }}</td>
      <td>
        <button class="btn btn-accent text-light btn-sm" (click)="openEditModal(student)">Modifier</button>
        <button class="btn btn-danger btn-sm ms-2" (click)="removeStudent(student.id)">Retirer</button>
      </td>
    </tr>
    </tbody>
  </table>
  <p *ngIf="students.length === 0 && selectedSessionId" class="text-muted">Aucun élève trouvé pour cette session.</p>
  <p *ngIf="!selectedSessionId" class="text-muted">Aucune session n'a été sélectionnée.</p>

  <!-- MODAL CREATION -->
  <div *ngIf="isCreating" class="modal show d-block bg-dark bg-opacity-50" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ajouter des Élèves</h5>
          <button type="button" class="btn-close" (click)="isCreating = false"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="createStudents()">
            <div *ngFor="let student of newStudents; let i = index" class="mb-3">
              <div class="d-flex flex-column mb-2 border p-2 rounded">
                <div class="d-flex justify-content-between align-items-center">
                  <p class="fw-bold">Élève {{ i + 1 }}</p>
                  <button type="button" class="btn btn-danger btn-sm text-light" (click)="removeStudentRow(i)">X</button>
                </div>
                <div>
                  <input type="text" class="form-control mb-2" placeholder="Email" [(ngModel)]="student.email" name="email{{i}}" required>
                  <input type="password" class="form-control" placeholder="Mot de passe" [(ngModel)]="student.password" name="password{{i}}" required>
                </div>
              </div>
            </div>
            <div class="mt-2">
              <button type="button" class="btn btn-primary" (click)="addStudentRow()">Ajouter un élève</button>
              <button type="submit" class="btn btn-accent text-light ms-2">Créer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
