<app-navbar></app-navbar>
<div class="container">
  <h1>Bienvenue sur l'accueil</h1>

  <!-- Bouton d'accès aux établissements (visible uniquement pour SUPERADMIN) -->
  <div class="mt-4" *ngIf="isSuperAdmin()">
    <a routerLink="/establishments" class="btn btn-accent text-light btn-lg w-100">
      Gérer les établissements
    </a>
  </div>
  <div class="mt-4" *ngIf="isSuperAdmin()">
    <a routerLink="/createAdmins" class="btn btn-accent text-light btn-lg w-100">
      Gérer les administrateurs
    </a>
  </div>
</div>
