<app-navbar></app-navbar>
<div class="container">
  <h1 class="text-center text-primary fw-bolder mt-2">FORMATECH</h1>

  <div class="mt-4" *ngIf="isSuperAdmin">
    <a routerLink="/establishments" class="btn btn-primary text-light btn-lg w-100">
      Établissements
    </a>
  </div>
  <div class="mt-4" *ngIf="isSuperAdmin">
    <a routerLink="/createAdmins" class="btn btn-primary text-light btn-lg w-100">
      Administrateurs
    </a>
  </div>
  <div *ngIf="isSuperAdmin || isAdmin" class="mt-3">
    <a routerLink="/sessions" class="btn btn-primary text-light btn-lg w-100">
      Sessions de formation
    </a>
  </div>
  <div *ngIf="isSuperAdmin || isAdmin" class="mt-3">
    <a routerLink="/modules" class="btn btn-primary text-light btn-lg w-100">
      Modules
    </a>
  </div>
  <div *ngIf="isSuperAdmin || isAdmin" class="mt-3">
    <a routerLink="/trainers" class="btn btn-primary text-light btn-lg w-100">
      Formateurs
    </a>
  </div>
  <div *ngIf="isSuperAdmin || isAdmin" class="mt-3">
    <a routerLink="/courses" class="btn btn-primary text-light btn-lg w-100">
      Cours
    </a>
  </div>
  <div *ngIf="isSuperAdmin || isAdmin" class="mt-3">
    <a routerLink="/students" class="btn btn-primary text-light btn-lg w-100">
      Élèves
    </a>
  </div>
</div>
